%h1 Joyride for Rails
%p
  Tests for
  = link_to "Joyride for Rails", "https://github.com/TrueNorth/joyride-rails"
  = link_to " #{Joyride::VERSION}", "https://github.com/TrueNorth/joyride-rails/zipball/v#{Joyride::VERSION}"
%ul
  %li
    = link_to simple_test_path do
      %b Simple Test
    \- A simple tour
  %li
    = link_to custom_class_test_path do
      %b Customize CSS Test
    \- A tour with custom CSS to override defaults, a javascript callback on each step, and a callback when the tour finishes