= render :file => "pages/content_to_tour_1"

= joyride :chooseID, :cookie => false do |j|
  = j.step :section1, "This is the first step", :html => {:class => ""}
  = j.step :section2, "This is the second step"
  = j.step :word1, "This is the a random word"
  = j.step :word2, "Another random word"
  = j.step :word3, "One last random word"


